Repository asierzapata/blacksmith-chronicles, changes with the labels that .github/labeler.yml gives for each.
All labels: Fragile, City, User, GameWeb

.github/labeler.yml:

# Add 'fragile' to any dependencies change
Fragile:
  - package.json
  - entry_points/**/package.json

City:
  - entry_points/city_api/**/*

User:
  - entry_points/user_api/**/*

GameWeb:
  - entry_points/game_web/**/*

Fix unathorized elastic search index of bus messages
  entry_points/city_api/application.js
  src/city/shared/env/index.js
Labels: City

Fix API Key for ES client
  entry_points/city_api/application.js
  infrastructure/packetbeat/Dockerfile
  infrastructure/packetbeat/packetbeat.yml
  src/shared_kernel/infrastructure/persistence/elastic_search/index.js
Labels: City

Fix elastic search client
  src/shared_kernel/infrastructure/persistence/elastic_search/index.js
Labels: none

Add better apm for commands, queries and events
  entry_points/city_api/application.js
  entry_points/city_api/index.js
  src/city/shared/env/index.js
Labels: City

Fix apm enable boolean
  entry_points/city_api/index.js
Labels: City

Fix undefined result on buses
  entry_points/city_api/application.js
Labels: City

Fix small bugs
  entry_points/city_api/application.js
  entry_points/city_api/index.js
  entry_points/city_api/package.json
  src/city/shared/env/index.js
Labels: Fragile, City

(CTY) Always return full error on development
  entry_points/city_api/package.json
  entry_points/city_api/utils/responses_factory/index.js
Labels: Fragile, City

(CTY) Changes on APM
  entry_points/city_api/application.js
  entry_points/city_api/index.js
Labels: City

Create s3-deploy.yml
  .github/workflows/s3-deploy.yml
Labels: none

(GW) Fix s3 deploy action
  .github/workflows/s3-deploy.yml
  entry_points/game_web/package.json
  entry_points/game_web/yarn.lock
Labels: Fragile, GameWeb

(GW) Remove unnecesary `yarn` on deploy s3 action
  .github/workflows/s3-deploy.yml
Labels: none

(GW) Remove package-lock.json
  entry_points/game_web/package-lock.json
Labels: GameWeb

(GW) Added dev dependencies and only run action when game_web changes
  .github/workflows/s3-deploy.yml
  entry_points/game_web/package.json
Labels: Fragile, GameWeb

(GW) Added small change to check what fails
  entry_points/game_web/package.json
  entry_points/game_web/yarn.lock
Labels: Fragile, GameWeb

(GW) Update deploy action
  .github/workflows/s3-deploy.yml
  entry_points/game_web/package.json
  entry_points/game_web/yarn.lock
  package.json
Labels: Fragile, GameWeb

Update s3-deploy yml
  .github/workflows/s3-deploy.yml
Labels: none

(GW) Test action
  .github/workflows/s3-deploy.yml
  entry_points/game_web/package.json
  package.json
Labels: Fragile, GameWeb

(GW) Test
  entry_points/game_web/package.json
Labels: Fragile, GameWeb

(GW) test
  .eslintrc.json
Labels: none

(GW) Change
  package.json
Labels: Fragile

(GW) Change on test
  entry_points/game_web/package.json
Labels: Fragile, GameWeb

(GW) Fix package.json
  package.json
Labels: Fragile

(GW) Changes
  entry_points/game_web/package.json
Labels: Fragile, GameWeb

(GW) Changed appjs
  entry_points/game_web/package.json
  entry_points/game_web/src/App.js
Labels: Fragile, GameWeb

(GW) added again code on eslint
  .eslintrc.json
  entry_points/game_web/package.json
Labels: Fragile, GameWeb

(GW) Added packages to dependencies
  entry_points/game_web/package.json
Labels: Fragile, GameWeb

(GW) Auto deploy should work
  entry_points/game_web/src/App.js
  package.json
Labels: Fragile, GameWeb

(GW) Deploy to prod
  entry_points/game_web/package.json
Labels: Fragile, GameWeb

(GW) Apply s3-deploy on main branch only
  .github/workflows/s3-deploy.yml
  entry_points/game_web/yarn.lock
  package.json
Labels: Fragile, GameWeb

(CTY) Initial resources module
  src/city/city/domain/aggregate/city_aggregate.js
  src/city/city/domain/value_objects/city_name.js
  src/city/city/infrastructure/repositories/dynamodb_city_repository.js
  src/city/resource/application/create_resources_for_city/create_resources_for_city_use_case.js
  src/city/resource/application/get_resources_for_city/get_resources_for_city_query_handler.js
  src/city/resource/application/get_resources_for_city/get_resources_for_city_use_case.js
  src/city/resource/application/resource_response.js
  src/city/resource/application/update_rate/update_rate_use_case.js
  src/city/resource/application/update_value/update_value_use_case.js
  src/city/resource/domain/aggregate/resource_aggregate.js
  src/city/resource/domain/errors/city_not_found_error.js
  src/city/resource/domain/errors/resource_not_found_error.js
  src/city/resource/domain/errors/resources_already_created_for_city_error.js
  src/city/resource/domain/events/resource_created_event.js
  src/city/resource/domain/events/resource_deleted_event.js
  src/city/resource/domain/events/resource_rate_updated_event.js
  src/city/resource/domain/events/resource_value_updated_event.js
  src/city/resource/domain/value_objects/resource_rate.js
  src/city/resource/domain/value_objects/resource_type.js
  src/city/resource/domain/value_objects/resource_value.js
  src/city/resource/index.js
  src/city/resource/infrastructure/repositories/dynamodb_resource_repository.js
  src/city/resource/infrastructure/repositories/memory_resource_repository.js
  src/shared_kernel/value_objects/timestamp.js
Labels: none

(CTY) Add remaining handlers for use cases and add index
  entry_points/city_api/services/geolocation/index.js
  src/city/city/index.js
  src/city/resource/application/create_resources_for_city/create_resources_for_city_on_city_created_event_handler.js
  src/city/resource/application/delete_resources_for_city/delete_resources_for_city_on_city_deleted_event_handler.js
  src/city/resource/application/delete_resources_for_city/delete_resources_for_city_use_case.js
  src/city/resource/domain/errors/resources_already_deleted_for_city_error.js
  src/city/resource/index.js
Labels: City

(CTY) Resources Module (#6)
  entry_points/city_api/services/geolocation/index.js
  src/city/city/domain/aggregate/city_aggregate.js
  src/city/city/domain/value_objects/city_name.js
  src/city/city/index.js
  src/city/city/infrastructure/repositories/dynamodb_city_repository.js
  src/city/resource/application/create_resources_for_city/create_resources_for_city_on_city_created_event_handler.js
  src/city/resource/application/create_resources_for_city/create_resources_for_city_use_case.js
  src/city/resource/application/delete_resources_for_city/delete_resources_for_city_on_city_deleted_event_handler.js
  src/city/resource/application/delete_resources_for_city/delete_resources_for_city_use_case.js
  src/city/resource/application/get_resources_for_city/get_resources_for_city_query_handler.js
  src/city/resource/application/get_resources_for_city/get_resources_for_city_use_case.js
  src/city/resource/application/resource_response.js
  src/city/resource/application/update_rate/update_rate_use_case.js
  src/city/resource/application/update_value/update_value_use_case.js
  src/city/resource/domain/aggregate/resource_aggregate.js
  src/city/resource/domain/errors/city_not_found_error.js
  src/city/resource/domain/errors/resource_not_found_error.js
  src/city/resource/domain/errors/resources_already_created_for_city_error.js
  src/city/resource/domain/errors/resources_already_deleted_for_city_error.js
  src/city/resource/domain/events/resource_created_event.js
  src/city/resource/domain/events/resource_deleted_event.js
  src/city/resource/domain/events/resource_rate_updated_event.js
  src/city/resource/domain/events/resource_value_updated_event.js
  src/city/resource/domain/value_objects/resource_rate.js
  src/city/resource/domain/value_objects/resource_type.js
  src/city/resource/domain/value_objects/resource_value.js
  src/city/resource/index.js
  src/city/resource/infrastructure/repositories/dynamodb_resource_repository.js
  src/city/resource/infrastructure/repositories/memory_resource_repository.js
  src/shared_kernel/value_objects/timestamp.js
Labels: City
