Repository asierzapata/blacksmith-chronicles, changes with the labels that .github/labeler.yml gives for each.
All labels: Fragile, City, User, GameWeb

.github/labeler.yml:

# Add 'fragile' to any dependencies change
Fragile:
  - package.json
  - entry_points/**/package.json

City:
  - entry_points/city_api/**/*

User:
  - entry_points/user_api/**/*

GameWeb:
  - entry_points/game_web/**/*

Add pull request template
  .github/pull_request_template.md
Labels: none

Update tests action
  .github/workflows/tests.yml
  entry_points/user_api/yarn.lock
Labels: User

Update automatic cr action
  .github/workflows/automatic-cr.yml
Labels: none

Fix eslint config
  .eslintrc.json
  .github/workflows/automatic-cr.yml
Labels: none

Exclude nodemodules and lock files for misspell
  .github/workflows/automatic-cr.yml
Labels: none

Fix eslintrc formating
  .eslintrc.json
  .prettierignore
Labels: none

Fix name of auto-cr
  .github/workflows/automatic-cr.yml
Labels: none

Fix yaml error of auto-cr
  .github/workflows/automatic-cr.yml
Labels: none

Fix exclude for misspell
  .github/workflows/automatic-cr.yml
Labels: none

Add babel-eslint
  package.json
  yarn.lock
Labels: Fragile

Add missing dependencies
  package.json
  yarn.lock
Labels: Fragile

Fix all eslint errors
  .eslintrc.json
  entry_points/backoffice_web/package.json
  entry_points/backoffice_web/src/App.css
  entry_points/backoffice_web/src/App.js
  entry_points/backoffice_web/src/App.test.js
  entry_points/backoffice_web/src/app.css
  entry_points/backoffice_web/src/app.js
  entry_points/backoffice_web/src/app.test.js
  entry_points/backoffice_web/src/index.css
  entry_points/backoffice_web/src/index.js
  entry_points/backoffice_web/src/reportWebVitals.js
  entry_points/backoffice_web/src/service-worker.js
  entry_points/backoffice_web/src/serviceWorkerRegistration.js
  entry_points/backoffice_web/src/setupTests.js
  entry_points/game_web/package.json
  entry_points/game_web/src/reportWebVitals.js
  entry_points/game_web/src/service-worker.js
  entry_points/game_web/src/serviceWorkerRegistration.js
  entry_points/game_web/src/setupTests.js
  package.json
  src/city/shared/buses/middlewares/logging_bus_middleware.js
  src/city/shared/session/session.js
  src/city/shared/session/session_source.js
  src/city/shared/session/session_type.js
  src/shared_kernel/container_factory.js
  src/shared_kernel/entities/aggregate_root.js
  src/shared_kernel/value_objects/id.js
  src/shared_kernel/value_objects/nullable_id.js
  src/shared_kernel/value_objects/nullable_timestamp.js
  src/shared_kernel/value_objects/timestamp.js
  src/user/buses/middlewares/error_bus_middleware.js
  src/user/buses/middlewares/logging_bus_middleware.js
  src/user/infrastructure/persistence/mongodb/db.js
  src/user/session/session.js
  src/user/session/session_device.js
  src/user/session/session_location.js
  src/user/session/session_source.js
  src/user/session/session_type.js
  src/user/value_objects/.gitkeep
  yarn.lock
Labels: Fragile, GameWeb

Move shared files on user BC
  src/user/shared/buses/middlewares/error_bus_middleware.js
  src/user/shared/buses/middlewares/logging_bus_middleware.js
  src/user/shared/infrastructure/persistence/mongodb/db.js
  src/user/shared/session/session.js
  src/user/shared/session/session_device.js
  src/user/shared/session/session_location.js
  src/user/shared/session/session_source.js
  src/user/shared/session/session_type.js
  src/user/shared/value_objects/.gitkeep
Labels: none

(CTY) Add dynamodb repository
  entry_points/city_api/api/v1/city/create_city/create_city_api_controller.js
  entry_points/city_api/application.js
  entry_points/city_api/package.json
  entry_points/city_api/yarn.lock
  src/city/city/application/delete_city/delete_city_command_handler.js
  src/city/city/application/delete_city/delete_city_use_case.js
  src/city/city/index.js
  src/city/city/infrastructure/repositories/dynamodb_city_repository.js
  src/city/shared/env/development.env
  src/city/shared/env/index.js
  src/shared_kernel/container_factory.js
Labels: Fragile, City

Save timestamps
  src/city/city/infrastructure/repositories/dynamodb_city_repository.js
Labels: none

Delete console logs
  src/city/city/application/delete_city/delete_city_command_handler.js
Labels: none

Fix city index
  src/city/city/index.js
Labels: none

Create docker image for city api
  .dockerignore
  .gitignore
  entry_points/city_api/docker/Dockerfile
  entry_points/city_api/package.json
  entry_points/city_api/server.js
  package.json
  src/city/shared/env/development.env
  src/city/shared/env/testing.env
Labels: Fragile, City

(CTY) Remove hardcoded userId
  entry_points/city_api/api/v1/city/create_city/create_city_api_controller.js
Labels: City

(CTY) Fix relocate and rename routes
  entry_points/city_api/api/v1/city/relocate_city/relocate_city_api_controller.js
  entry_points/city_api/api/v1/city/rename_city/rename_city_api_controller.js
  entry_points/city_api/yarn.lock
  src/city/city/application/city_response.js
  src/city/city/application/relocate_city/relocate_city_use_case.js
  src/city/city/application/rename_city/rename_city_use_case.js
  src/city/city/domain/value_objects/city_name.js
  src/city/city/infrastructure/repositories/dynamodb_city_repository.js
Labels: City

(CTY) Add city api task definition
  entry_points/city_api/aws_ecs/city_api_task_definition.json
Labels: City

Create aws-ecs-deploy.yml
  .github/workflows/aws-ecs-deploy.yml
Labels: none

Update ECS deploy action
  .github/workflows/aws-ecs-deploy.yml
Labels: none

(CTY) Remove console log
  src/city/city/infrastructure/repositories/dynamodb_city_repository.js
Labels: none

(FS) Errors refactor for both domain and api
  entry_points/city_api/api/v1/city/create_city/create_city_api_controller.js
  entry_points/city_api/api/v1/city/delete_city/delete_city_api_controller.js
  entry_points/city_api/api/v1/city/get_cities_by_user_id/get_cities_by_user_id_api_controller.js
  entry_points/city_api/api/v1/city/get_city_by_id/get_city_by_id_api_controller.js
  entry_points/city_api/api/v1/city/relocate_city/relocate_city_api_controller.js
  entry_points/city_api/api/v1/city/rename_city/rename_city_api_controller.js
  entry_points/city_api/lib/errors/index.js
  entry_points/city_api/server.js
  entry_points/city_api/utils/input_validators/errors/invalid_input_boolean_error.js
  entry_points/city_api/utils/input_validators/errors/invalid_input_number_error.js
  entry_points/city_api/utils/input_validators/errors/invalid_input_string_error.js
  entry_points/city_api/utils/input_validators/index.js
  entry_points/city_api/utils/responses_factory/index.js
  src/city/city/application/city_response.js
  src/city/city/application/create_city/create_city_use_case.js
  src/city/city/application/delete_city/delete_city_use_case.js
  src/city/city/application/relocate_city/relocate_city_use_case.js
  src/city/city/application/rename_city/rename_city_use_case.js
  src/city/city/domain/errors/city_already_exists_error.js
  src/city/city/domain/errors/city_not_found_error.js
  src/city/shared/buses/middlewares/error_bus_middleware.js
  src/city/shared/buses/middlewares/logging_bus_middleware.js
  src/shared_kernel/buses/event.js
  src/shared_kernel/errors/application_error.js
Labels: City

Fix misspell
  entry_points/city_api/api/v1/city/delete_city/delete_city_api_controller.js
Labels: City

(FS) Errors refactor for both domain and api (#3)
  entry_points/city_api/api/v1/city/create_city/create_city_api_controller.js
  entry_points/city_api/api/v1/city/delete_city/delete_city_api_controller.js
  entry_points/city_api/api/v1/city/get_cities_by_user_id/get_cities_by_user_id_api_controller.js
  entry_points/city_api/api/v1/city/get_city_by_id/get_city_by_id_api_controller.js
  entry_points/city_api/api/v1/city/relocate_city/relocate_city_api_controller.js
  entry_points/city_api/api/v1/city/rename_city/rename_city_api_controller.js
  entry_points/city_api/lib/errors/index.js
  entry_points/city_api/server.js
  entry_points/city_api/utils/input_validators/errors/invalid_input_boolean_error.js
  entry_points/city_api/utils/input_validators/errors/invalid_input_number_error.js
  entry_points/city_api/utils/input_validators/errors/invalid_input_string_error.js
  entry_points/city_api/utils/input_validators/index.js
  entry_points/city_api/utils/responses_factory/index.js
  src/city/city/application/city_response.js
  src/city/city/application/create_city/create_city_use_case.js
  src/city/city/application/delete_city/delete_city_use_case.js
  src/city/city/application/relocate_city/relocate_city_use_case.js
  src/city/city/application/rename_city/rename_city_use_case.js
  src/city/city/domain/errors/city_already_exists_error.js
  src/city/city/domain/errors/city_not_found_error.js
  src/city/shared/buses/middlewares/error_bus_middleware.js
  src/city/shared/buses/middlewares/logging_bus_middleware.js
  src/shared_kernel/buses/event.js
  src/shared_kernel/errors/application_error.js
Labels: City

Delete unused parameters on the city_api_task_definition
  entry_points/city_api/aws_ecs/city_api_task_definition.json
Labels: City

Add filebeat
  entry_points/city_api/aws_ecs/city_api_task_definition.json
  entry_points/city_api/docker/Dockerfile
  infrastructure/filebeat/Dockerfile
  infrastructure/filebeat/certFileBeat.cert
  infrastructure/filebeat/filebeat.yml
Labels: City

Add health route and filebeat
  entry_points/city_api/health/index.js
  entry_points/city_api/server.js
  infrastructure/filebeat/Dockerfile
  infrastructure/filebeat/filebeat.yml
Labels: City

Install curl to city api image for health checks
  entry_points/city_api/aws_ecs/city_api_task_definition.json
  entry_points/city_api/docker/Dockerfile
Labels: City

Change elasticsearch host port
  infrastructure/filebeat/filebeat.yml
Labels: none

Upgrade filebeat to the required version for our elasticsearch
  infrastructure/filebeat/Dockerfile
  infrastructure/filebeat/filebeat.yml
Labels: none

Add metricbeat
  entry_points/city_api/aws_ecs/city_api_task_definition.json
  infrastructure/filebeat/Dockerfile
  infrastructure/filebeat/certFileBeat.cert
  infrastructure/metricbeat/Dockerfile
  infrastructure/metricbeat/docker.yml
  infrastructure/metricbeat/metricbeat.yml
Labels: City

Add bus message save to elastic search
  entry_points/city_api/application.js
  entry_points/city_api/package.json
  entry_points/city_api/yarn.lock
  src/city/shared/env/index.js
  src/city/shared/infrastructure/persistence/mongodb/db.js
  src/shared_kernel/buses/buses.js
  src/shared_kernel/container_factory.js
  src/shared_kernel/infrastructure/persistence/bus_messages_store/elastic_search_bus_messages_store.js
  src/shared_kernel/infrastructure/persistence/elastic_search/index.js
Labels: Fragile, City

Fix create city use case error condition
  src/city/city/application/create_city/create_city_use_case.js
Labels: none

Add packet beat docker image
  entry_points/city_api/aws_ecs/city_api_task_definition.json
  infrastructure/metricbeat/Dockerfile
  infrastructure/packetbeat/Dockerfile
  infrastructure/packetbeat/packetbeat.yml
Labels: City

Add elasticsearch APM Agent
  entry_points/city_api/index.js
  entry_points/city_api/package.json
  entry_points/city_api/yarn.lock
Labels: Fragile, City

Add elastic search apm
  entry_points/city_api/index.js
  infrastructure/filebeat/Dockerfile
  infrastructure/filebeat/filebeat.yml
Labels: City

Update city api task definition
  entry_points/city_api/aws_ecs/city_api_task_definition.json
Labels: City
